.operational-regulation {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: space-between;

  .dl-left,
  .dl-right {
    width: 810px;
    height: 100%;

    .doudou-card {
      font-size: 20px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 31px;
      height: 30%;
    }

    .abnormal-data {
      height: 130px;
      overflow: hidden;

      .doudou-row {
        height: 35px;
        background: #176d9e5f;
        font-size: 17px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #91CCFF;
        padding-right: 10px;

        &:not(:first-child) {
          margin-top: 10px;
        }

        .doudou-col-1 {
          img {
            transform: translate(10px, 2px);
          }
        }

        .doudou-col-8 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .doudou-col-4 {
          text-align: end;
        }
      }
    }

    .green-fangkong {
      color: #91CCFF;
      font-weight: 400;

      .gf-icon {
        position: relative;

        img {
          position: absolute;
        }

        img:nth-child(1) {
          top: 20px;
          left: 10px;
          width: 190px;
          height: 155px;
          animation: breathingLamp 2s linear infinite;
        }

        img:nth-child(2) {
          top: 10px;
          left: 57px;
        }

        img:nth-child(3) {
          top: 27px;
          left: 76px;
        }
      }

      .doudou-row {
        justify-content: flex-start;

        &:not(:first-child) {
          margin-top: 20px;
        }
      }

      .doudou-col-4 {
        font-family: longzhoufeng;
        font-size: 26px;
      }
    }

    .planting-scale {
      width: 100%;
      height: 250px;

      .doudou-col-5 {
        height: 45px;
        background: linear-gradient(1deg, rgba(33, 144, 247, 0.26) -7px, #ffffff00);
        border-radius: 5px;
        margin-top: 10px;
        font-size: 17px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          color: #0078FF;
          font-size: 26px;
          font-family: longzhoufeng;
          margin: 0 10px;
          transform: translateY(-2px);
        }
      }

      .ps-chart {
        height: calc(100% - 45px);
        padding-top: 15px;
      }
    }
  }

  .dl-left{
    .chart-wlgjlx-legend{
      width: 100%;
      height: 100%;
      top: 127px;
      left: 434px;
      z-index: 1;
      position: absolute;
      .cfl-item{
        color: #fff;
        font-size: 28px;
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        span{
          display: inline-block;
        }
        .cfli-dot{
          width: 16px;
          height: 16px;
          margin-right: 20px;
        }
        .cfli-name{
          width: 225px;
        }
        .cfli-value{
          text-align: start;
        }
      }
    }
  }

  .dl-right {
    .lingdaoshicha {
      height: 100%;
      .el-carousel__button{
        width: 26px;
        height: 26px;
        border-radius: 15px;
      }
    }

    .netdevice-gaojing {
      height: 100%;
      padding-left: 10px;
      .el-table{
        width: 100%;
        height: 458px;
        font-size: 20px;
        color: #D8DBDF;
        background-color: rgb(255 255 255 / 3%);
      }
      .el-table__header-wrapper{
        background-color: rgb(255 255 255 / 3%);
      }
      .el-table tr{
        pointer-events: none;
        background-color: unset;
        border: 1px solid #3A79E2;
      }
      .el-table th.el-table__cell{
        background-color: unset;
        border: 1px solid #3A79E2;
      }
      .el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
        border-bottom: 1px solid #3A79E2;
      }
      .el-table--border .el-table__cell {
        border-right: 1px solid #3A79E2;
      }
      .el-table__border-left-patch{
        background-color: unset;
      }
      .el-table thead {
        color: #6CA7FF;
      }
      .operational-regulation .dl-right .netdevice-gaojing .el-table th.el-table__cell {
        background-color: unset;
        border: 0px solid #3A79E2
      }
      .el-table__inner-wrapper{
        font-size: 24px;
      }
      .el-table__inner-wrapper::before {
        background-color: #3A79E2;
      }
      .el-table--border::before{
        background-color: #3A79E2;
      }
      .el-table--border .el-table__inner-wrapper::after{
        background-color: #3A79E2;
      }
      .operational-regulation .dl-right .netdevice-gaojing .el-table--border .el-table__inner-wrapper::after{
        background-color: #3A79E200;
      }
      .el-table--border::after{
        background-color: #ffffff00;
      }
    }

  }
  .chart-legent{
    width: 92%;
    height: 62%;
    left: 23%;
    top: 108px;
    position: absolute;
    .chart-legent_item{
      display: flex;
      align-items: center;
      height: 74px;
      span{
        display: inline-block;
        font-size: 28px;
        &:nth-child(1){
          width: 180px;
          margin-right: 30px;
        }
        &:nth-child(2){
          width: 270px;
          margin-right: 30px;
        }
        &:nth-child(3){
          font-family: neirong;
        }
      }
    }
  }
}

@keyframes rotate1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes rotate2 {
  0% {
    transform: translateX(12%) rotateX(75deg) rotateZ(0);
  }
  100% {
    transform: translateX(12%) rotateX(75deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: translateX(31%) rotateX(75deg) rotateZ(0);
  }
  100% {
    transform: translateX(31%) rotateX(75deg) rotateZ(-360deg);
  }
}
@keyframes rotate4 {
  0% {
    transform: translateX(69%) rotateX(-75deg) rotateZ(0);
  }
  100% {
    transform: translateX(69%) rotateX(-75deg) rotateZ(360deg);
  }
}