@keyframes animX {
    0% {
        left: -4%;
    }

    100% {
        left: 96%;
    }
}

@keyframes animY {
    0% {
        top: -4%;
    }

    100% {
        top: 96%;
    }
}

@keyframes scale {

    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}