.ellipse-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: 80px;
    height: 50px;

    overflow: hidden;

    background-color: red;
    border-radius: 50%;

    font-size: 14px;
}